html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(247, 247, 69, 1) 0%,
    rgba(243, 158, 10, 1) 98%
  );
}

#root {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.start-page {
  position: absolute;
  display: flex;
  flex-flow: row;
  background: radial-gradient(
    circle,
    rgba(219, 24, 24, 1) 0%,
    rgba(60, 40, 12, 1) 30%,
    rgba(204, 42, 28, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

.left-start-page {
  width: 50%;
  height: 100vh;
}

.right-start-page {
  width: 50%;
  height: 100vh;
}

.start-image {
  position: relative;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.fighters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 15px;
  position: relative;
}

.fighters div:first-of-type {
  grid-area: 1/1/2/4;
  margin: 10px 0px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  text-align: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.modal,
.add-modal {
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ab3428;
  padding: 20px;
  border-radius: 10%;
  font-size: 20px;
  z-index: 1;
}

.modal-title,
.start-title {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 45px;
  text-transform: uppercase;
  color: #f49e4c;
  color: transparent;
  background: linear-gradient(7deg, #f5ee9e 50%, #f49e4c 0);
  -webkit-background-clip: text;
}

.start-title {
  font-size: 80px;
  width: 650px;
}

li {
  list-style: none;
  font-family: "Orbitron", sans-serif;
  color: rgb(182, 177, 177);
  text-shadow: 3px 2px black;
}

.btn,
.fight-btn,
.add-btn,
.submit-btn {
  float: right;
  color: #551515;
  margin-right: 35px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fafa51;
  border: 1px solid #494949;
  border-radius: 15 px;
}

.fight-btn,
.add-btn {
  font-size: 25px;
}

.start-btn {
  font-size: 20px;
  border-radius: 50% 20% / 10% 40%;
  width: 300px;
  float: left;
  align-self: center;
  color: #0e0404;
  background: #ebe17a;
  border: 3px solid #d68c2a;
  font-weight: bold;
}

.btn:hover,
.fight-btn:hover,
.add-btn:hover,
.submit-btn:hover {
  background: #589b31;
  transition: all 0.4s ease 0s;
}

.modal__close-btn {
  float: right;
  font-size: 18px;
  background: rgb(58, 8, 56);
  color: #ffffff;
}

.modal__close-btn:hover,
.closing-elem:hover {
  background: rgb(88, 74, 74);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.closing-elem {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  background: rgb(153, 33, 33);
  border: 1px solid #691717;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.health-modal-input,
.attack-modal-input {
  background: rgb(248, 242, 174);
}
.name-input,
.attack-input,
.health-input,
.defense-input,
.source-input {
  display: flex;
  text-align: center;
  height: 25px;
  width: 240px;
  background: rgb(248, 242, 174);
}
.source-input {
  margin-bottom: 25px;
}
.name-input::placeholder,
.attack-input::placeholder,
.health-input::placeholder,
.source-input::placeholder,
.defense-input::placeholder {
  color: rgb(71, 20, 20);
}
